html {
	/* fills entire html page */
	background-color: rgb(36, 35, 48);
	margin: 0;
}

.overlay {
	justify-content: center;
	align-items: center;
}

.gameGui {
	border-radius: 30px;
	background-color: green;
	width: 700px;
	height: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-60%, -50%); /* positon box (horizontal, vertical) */
}

/*-------    Card  Display    -------*/

img {
	width: 50px;
	height: 75px;
	display: inline-block; /* not sure if necessary */
}

/* ------------------ Where each player's deck will appear ------------------ */
.deck {
	align-items: center;
	justify-content: center;

	/*what the box looks like*/
	border-radius: 15px;
	border: dashed;
	background-color: white;
	height: 90px; /* dimensions of box */
	width: 70px;
}

.player-deck {
	/*position of box*/
	order: 1;
	position: absolute;
	bottom: 20px;
	right: 30px;
}

.bot-deck {
	order: 2; /* Set the order of the element within the flex container */
	transform: rotate(180deg); /* Rotate the element 90 degrees */
	position: absolute;
	top: 20px;
	left: 30px;
}
/* --------------------------------------------------------------------- */

/* ------------------------- Posiiton of stacks ------------------------ */
.hand {
	/*Where I want the 5 stacks to be*/
	/*border-radius: 15px;*/
	/*border: solid;*/
	/*background-color: white;*/
	height: 90px;
	width: 450px;

	/* relative positon */
	position: fixed;
}

.player-hand {
	/* position of the 5 stacks */
	bottom: 50px;
	transform: translate(27%, -40%);
}

.bot-hand {
	/* position of the 5 stacks */
	top: 50px;
	transform: translate(27%, 40%);
}

ul {
	display: flex;
	list-style: none;
	flex-wrap: nowrap;
	flex-direction: row;
	padding: 0;
	margin: 0;
	justify-content: space-between;
}

li {
	border-radius: 15px;
	border: dashed;
	height: 90px; /* dimensions of box */
	width: 70px;
}
/* --------------------------------------------------------------------- */

/* ------------------------- Posiiton of discard ------------------------ */
.discard {
	width: 200px;
	position: fixed;
	top: 43%;
	left: 35%;
}
/* --------------------------------------------------------------------- */
