:root {
	--stack-position-Y: 13%;
	--deck-position-Y: 5%;
}

html {
	/* fills entire html page */
	background-color: rgb(36, 35, 48);
}

body {
	/* height of browser */
	height: 100vh;
}

main {
	border: 1px solid cyan;

	height: 80%;	/* % remaining of body - header space*/
	display: flex;
	justify-content: center;
	position: relative;
}

.card {
	position: absolute;
	cursor: pointer;

	border-radius: 15%;
	height: 94px;
	width: 70px;
}

.card-img {
	height: 100%;
	width: 100%;
}

.game-board-container {
	background-color: #008000;

	border-radius: 30px;
	width: 700px;
	height: 600px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bot-deck-container {
	border: 1px solid white;

	position: absolute;
	top: 30px;
	left: 35px;
}

.player-deck-container {
	border: 1px solid white;

	position: absolute;
	top: 474px;
	left: 593px;
}

.deck-container {		/* placeholder css code for center of board pixels */
	/*border: 1px solid white;*/

	position: absolute;
	top: 253px;
	left: 315px;
	/*top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/

	border-radius: 15%;
	height: 94px;
	width: 70px;
}

/*------------------ Positioning the stacks of cards for player/bot ---------------------*/
.stack {
	border: 1px solid white;
	position: absolute;

	border-radius: 15%;
	height: 94px;
	width: 70px;
}

#player-stack-0 {
  top: 426px;
  left: 133px;
}

#player-stack-1 {
  top: 426px;
  left: 224px;
}

#player-stack-2 {
  top: 426px;
  left: 315px;
}

#player-stack-3 {
  top: 426px;
  left: 406px;
}

#player-stack-4 {
  top: 426px;
  left: 497px;
}

#bot-stack-0 {
  top: 78px;
  left: 497px;
}

#bot-stack-1 {
  top: 78px;
  left: 406px;
}

#bot-stack-2 {
  top: 78px;
  left: 315px;
}

#bot-stack-3 {
  top: 78px;
  left: 224px;
}

#bot-stack-4 {
  top: 78px;
  left: 133px;
}
/*-------------------------------------------------------------------------------*/