:root {
	--stack-position-Y: 13%;
	--deck-position-Y: 5%;
}

html {
	/* fills entire html page */
	background-color: rgb(36, 35, 48);
}

body {
	/* height of browser */
	height: 100vh;
}

main {
	border: 1px solid cyan;

	height: 80%;	/* % remaining of body - header space*/
	display: flex;
	justify-content: center;
	position: relative;
}

.card {
	position: absolute;
	cursor: pointer;

	border-radius: 15%;
	height: 94px;
	width: 70px;
}

.card-img {
	height: 100%;
	width: 100%;
}

.game-board-container {
	background-color: #008000;

	border-radius: 30px;
	width: 700px;
	height: 600px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bot-deck-container {
	border: 1px solid white;

	position: absolute;
	top: 5%;
	left: 5%;
}

.player-deck-container {
	border: 1px solid white;

	position: absolute;
	bottom: 5%;
	right: 5%;
}

.deck-container {		/* placeholder css code for center of board pixels */
	border: 1px solid white;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*------------------ Positioning the stacks of cards for player/bot ---------------------*/
.stack {
	border: 1px solid white;
	position: absolute;
}

#player-stack-0 {
  bottom: 13%;
  left: 19%;
}

#player-stack-1 {
  bottom: 13%;
  left: 32%;
}

#player-stack-2 {
  bottom: 13%;
  left: 45%;
}

#player-stack-3 {
  bottom: 13%;
  left: 58%;
}

#player-stack-4 {
  bottom: 13%;
  left: 71%;
}

#bot-stack-0 {
  top: 13%;
  left: 71%;
}

#bot-stack-1 {
  top: 13%;
  left: 58%;
}

#bot-stack-2 {
  top: 13%;
  left: 45%;
}

#bot-stack-3 {
  top: 13%;
  left: 32%;
}

#bot-stack-4 {
  top: 13%;
  left: 19%;
}
/*-------------------------------------------------------------------------------*/